.container {
  padding: 0 2rem;
  
}
.container2 {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  margin-left: 400px;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  background-color: rgb(214, 207, 207);
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 250px;
  max-height: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(40, 63, 109);
}
.button:hover{
  background-color: #20678d;
}
.link{
  color: white;
  text-decoration: none;
}
.link:hover{
  color: white;
}
.logout{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(40, 63, 109);
  color: white;
}
.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
  margin-top: 100px;
  width: 500px;
}

.screen {		
	background: linear-gradient(90deg, #0a4388, #2e7ab0);		
	position: relative;	
	height: 70vh;
	width: 530px;	
	box-shadow: 0px 0px 24px #21779f;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #315280;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #1c51bb, #5fa6da);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #265189;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 100px;
}

.login__field {
	padding: 5px 0px;	
	position: relative;	
}


.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #4c6698;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #48739d;
	box-shadow: 0px 2px 2px #232581;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #25a4c4;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #2a66ab;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #4591b8;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.container {
  background: #fff !important;
  border: none;
  border-radius: none
}

.abc {
  padding-left: 40px
}

.pqr {
  padding-right: 70px;
  padding-top: 14px
}

.para {
  float: right;
  margin-right: 0;
  padding-left: 80%;
  top: 0
}

.fa-star {
  color: yellow
}


.col-md-2 {
  padding-bottom: 20px;
  font-weight: bold
}

.col-md-2 a {
  text-decoration: none;
  color: #000
}

.col-md-2.mio {
  font-size: 12px;
  padding-top: 7px
}

.des::after {
  content: '.';
  font-size: 0;
  display: block;
  border-radius: 20px;
  height: 6px;
  width: 55%;
  background: yellow;
  margin: 14px 0
}

.r4 {
  padding-left: 25px
}

.btn-outline-warning {
  border-radius: 0;
  border: 2px solid yellow;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 70%
}

@media screen and (max-width: 620px) {
  .container {
      width: 98%;
      display: flex;
      flex-flow: column;
      text-align: center
  }

  .des::after {
      content: '.';
      font-size: 0;
      display: block;
      border-radius: 20px;
      height: 6px;
      width: 35%;
      background: yellow;
      margin: 10px auto
  }

  .pqr {
      text-align: center;
      margin: 0 30px
  }

  .para {
      text-align: center;
      padding-left: 90px;
      padding-top: 10px
  }

  .klo {
      display: flex;
      text-align: center;
      margin: 0 auto;
      margin-right: 40px
  }
}
.div2{
  width: 300px;
  height: 200px;
  background-color: #265189;
}
.link2{
  color: rgb(45, 39, 39);
  text-decoration: none;
}
.link2:hover{
  color: #0070f3;
  text-decoration: none;
}


.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}







.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}
.input1, .textarea1 {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

.input1:focus, .textarea1:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
}

.button1:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px;
  }
}
.button2{
  color: white;
  background-color: green;
  border-radius: 5px;
}
.div3{
  margin-left: 30rem;
  margin-top:5rem;
  width: 310px;
  height: 300px;
  border-radius: 15px;
  background-color: rgb(232, 225, 213);
}

.radiocontainer {
  padding-top : 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.radiolabel {
  margin-left: 8px;
}
.customradio {
  appearance: none;
  width: 60px;
  height: 20px;
  border: 2px solid #0070f3;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 8px;
}
.customradio:checked::before {
  content: '';
  width: 52px;
  height: 12px;
  background-color: #0070f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}